@media screen and (max-width: 400px) {
  #partners {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #properties {
    width: 110%;
  }
}
